<form action="/users" method="post">
  <input class="register-input" type="text" name="user[full_name]" placeholder="Full Name:" required>
  <input class="register-input" type="email" name="user[email]" placeholder="Email:" required>
  <input class="register-input" type="text" name="user[username]" placeholder="Username:" required>
  <input class="register-input" type="password" name="user[password]" placeholder="Password:" required>
  <input class="register-input" type="password" name="password_confirmation" placeholder="Password Confirmation:" required>

  <input class="myButton" type="submit" value="Register!">
</form>
