  <header class="page-head">
    <%= erb :'partials/_header' %>
  </header>
<h1><%= @channel %>Chat</h1>
    <form class="chat-form">
      <input type="hidden" name="channel" value="<%= @channel %>">
    </form>
<div>
    <div id="messages"></div>
     <input id="chat-input" type="text" placeholder="say anything" autofocus/>
</div>



