  <header class="page-head">
  	<%= erb :'partials/_header' %>
  </header>

 <div class="chat-page">
  	<form class="chat-form">
  		<input type="hidden" name="channel" value="<%= @channel %>">
  	</form>
  <div class="messages-input">
  	<div id="messages"></div>
  	<input id="chat-input" type="text" placeholder="say anything" autofocus/>
  </div>
</div>


