  <header class="page-head">
    <%= erb :'partials/_header' %>
  </header>
<h1 class="header">Welcome to GifCom</h1>
<ul id="image-grid">
<li><img src="http://media3.giphy.com/media/ypqHf6pQ5kQEg/giphy.gif"></li>
<li><img src="http://media3.giphy.com/media/ypqHf6pQ5kQEg/giphy.gif"></li>
<li><img src="http://media3.giphy.com/media/ypqHf6pQ5kQEg/giphy.gif"></li>
<li><img src="http://media3.giphy.com/media/ypqHf6pQ5kQEg/giphy.gif"></li>
<li><img src="http://media3.giphy.com/media/ypqHf6pQ5kQEg/giphy.gif"></li>
<li><img src="http://media3.giphy.com/media/ypqHf6pQ5kQEg/giphy.gif"></li>
<li><img src="http://media3.giphy.com/media/ypqHf6pQ5kQEg/giphy.gif"></li>
<li><img src="http://media3.giphy.com/media/ypqHf6pQ5kQEg/giphy.gif"></li>

</ul>
